$backgroundColor: #181818;
$textColor: #efefef;

$backgroundColorInvert: #efefef;
$textColorInvert: #181818;

$borderColor: #252525;
$borderColorHover: #5b5b5b;

$primaryColor: #3b5998;

$cardBackgroundColor: #1d1d1d;

$white: #fff;
$black: #000;
